server:
  port: 8085

spring:
  application:
    name: loan-service

  datasource:
    url: jdbc:postgresql://localhost:5432/banco_db
    username: postgres
    password: ABCabc123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
